In [257]:
import pandas as pd
import numpy as np
from geotext import GeoText
from rake_nltk import Rake
from nltk.corpus import stopwords
pd.set_option('display.max_columns', 100)

In [258]:
mentor = pd.read_excel(
    'PayPal HackAthon - Mentor Application - Class 22 (Responses) .xlsx')

In [259]:
mentor_shortlisted = mentor.iloc[:, [11, 17, 18, 22, 23, 25, 27, 28, 29, 31]]
mentor_shortlisted.columns = [
    "gender", "title", "ethnic", "skills_hobbies", "loc_prefer", "group",
    "industry", "field_experience", "about_you", "fun_fact"
]

In [260]:
mentor_shortlisted = mentor.iloc[:, [11, 17, 22, 23, 25, 27, 28, 29, 31]]
mentor_shortlisted.columns = [
    "gender", "title", "skills_hobbies", "loc_prefer", "group", "industry",
    "field_experience", "about_you", "fun_fact"
]

mentor_shortlisted = mentor_shortlisted.fillna("")
mentor_shortlisted = mentor_shortlisted.replace("I prefer not to say", "")
mentor_shortlisted = mentor_shortlisted.replace("Other", "")

for index, row in mentor_shortlisted.iterrows():
    location = GeoText(row.loc["loc_prefer"])
    row.loc["loc_prefer"] = [
        x.replace(" ", "") for x in list(set(location.cities))
    ]
    row.loc["industry"] = row.loc["industry"].split(",")
    row.loc["field_experience"] = row.loc["field_experience"].split(",")
    row.loc["title"] = row.loc["title"].split(",")
    fun = row["fun_fact"]
    r = Rake(stopwords=stop_words)
    r.extract_keywords_from_text(fun)
    key_words_dict_scores = r.get_word_degrees()
    row["fun_fact"] = list(key_words_dict_scores.keys())
    about = row["about_you"]
    r.extract_keywords_from_text(about)
    key_words_dict_scores = r.get_word_degrees()
    row["about_you"] = list(key_words_dict_scores.keys())
    skill = row["skills_hobbies"]
    r.extract_keywords_from_text(skill)
    key_words_dict_scores = r.get_word_degrees()
    row["skills_hobbies"] = list(key_words_dict_scores.keys())

In [261]:
mentor_shortlisted

,gender,title,skills_hobbies,loc_prefer,group,industry,field_experience,about_you,fun_fact
0,Male,[CCCM (Certified Call Center Manager)],"[creating, stellar, service, leadership, manag...","[Danville, Pleasanton, SanRamon, SanJose, Dublin]",,"[Automotive, Electric Utilities, Oil, Gas, ...","[Project Management, Quality Assurance]",[],"[yet, laugh, row, junior, high, school, love, ..."
1,,[],[],[],,[],[],[],[]
2,Female,[Data Analyst],"[dance, salsa, table, interviews, bachata, giv...",[SanJose],,[],[Data Analytics],"[best, foot, forward, super, excited, level, m...","[hang, around, know, nothing, supported, hand,..."
3,Male,[Customer Success Manager],"[music, snowboarding, dance, crossfit, darts, ...","[Hayes, Soma]",,[Technology],[Cyber Security],[],"[helmet, snowboarding, promise, dumber, broken..."
4,Male,[Salesforce Administrator],"[music, skills, telling, bad, pun, jokes, inte...",[SanFrancisco],,[Technology],"[Project Management, IT Helpdesk]","[anything, elbow, grease, determination, possi...","[hong, kong, used, chef]"
...,...,...,...,...,...,...,...,...,...
236,,[Interaction Designer],"[design, navigating, tech, industry, path, cor...",[Mission],LGBQT,"[Consumer Packaged Goods (CPG), Education, M...","[Project Management, Data Analytics]",[],"[lived, boston, beijing, moving, sf, years]"
237,,[],[],[],,[],[],[],[]
238,Female,"[Manager, Talent Coordinators Americas]","[exploring, camping, family]",[],,"[Government, Manufacturing, Non-Profit, Ret...",[],"[fall, immediate, family, go, entering, colleg...","[mentor, develop, talent, poolside, one, hangi..."
239,,[],[],[],,[],[],[],[]
240,Female,[Senior Director],"[employment, professional, experience, lot, co...",[Bay],,"[Professional, Consulting, and Technology Se...","[Project Management, Data Analytics]","[enthusiastic, future, sucess]",[]

In [262]:
def make_bag_of_words(df):
    df['bag_of_words'] = ''
    columns = df.columns
    for index, row in df.iterrows():
        words = ''
        for col in columns:
            if type(row[col]) != list:
                words = words + row[col] + ' '
            else:
                words = words + ' '.join(row[col]) + ' '
        row['bag_of_words'] = words

    df.drop(columns=[col for col in df.columns if col != 'bag_of_words'],
            inplace=True)

In [263]:
make_bag_of_words(mentor_shortlisted)

In [265]:
mentor_shortlisted["bag_of_words"] = mentor_shortlisted["bag_of_words"].str.lower()

In [266]:
mentor_shortlisted

                                          bag_of_words
0    male cccm (certified call center manager) crea...
1
2    female data analyst dance salsa table intervie...
3    male customer success manager music snowboardi...
4    male salesforce administrator music skills tel...
..                                                 ...
236   interaction designer design navigating tech i...
237
238  female manager  talent coordinators americas e...
239
240  female senior director employment professional...

[241 rows x 1 columns]